<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- 이 부분은 절대 지우지 마세요. -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
            crossorigin="anonymous"
    />
    <!-- 이 부분은 절대 지우지 마세요. -->

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Stylish&display=swap"
            rel="stylesheet"
    />
    <title>Title</title>
    <style>
        .container {
            margin-top: 30px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>로그인</h1>
    <form action="/login" method="post" id="loginForm">
        <div class="form-group">
            <label for="exampleInputEmail1">이메일</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword">비밀번호</label>
            <input type="password" class="form-control" id="exampleInputPassword" name="password">
        </div>
        <button type="submit" class="btn btn-primary" id="login">로그인</button>
    </form>
    <p></p>
    <a href="/signUpSMTP" role="button" class="btn btn-success">회원가입</a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#login").click(function () {
            let email = $("#exampleInputEmail1").val();
            let password = $("#exampleInputPassword").val();

            // 입력값 검증
            if (!email || !password) {
                alert("이메일과 비밀번호를 입력하세요.");
                return;
            }
        });
    });
</script>
</body>
</html>